*{
   
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;
   font-family: var(--font);
}
p,h1,h2,h3,h4,h5,h6{
   margin: 0px;
}
:root{
   --dark: #101828 ;
   --normal: #4A5565;
   --nav-link: #364153;
   --font: Arimo;
   scroll-behavior: smooth;
}
.width{
   max-width: 1440px;
}
.navbar .navbar-nav .p-16{
   padding: 0px 16px;
}
nav{
   height: 80px;
   width: 100vw;
   border-bottom: 1px solid rgba(0, 0, 0, 0.05);
   background: rgba(255, 255, 255, 0.8);
   backdrop-filter: blur(15px);
   z-index: 99999;
}
nav .navbar-brand h1{
   font-size: 17px;
   margin: 0 0 0 10px;
}
.navbar .navbar-brand h1{
   color: var(--dark);
}
.navbar .nav-link{
   color: var(--nav-link);
   font-size: 14px;
   font-weight: 400;
   line-height: 150%;
}
.navbar .nav-btns{
   list-style-type: none;
   padding: 8px;
   gap: 8px;
   width: 200px;
}
.nav-btn{
   display: flex;
   justify-content: center;
   align-items: center;
}
.nav-btn .nav-btn-link{
   height:40px ;
   width: 40px;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 10px;
}
.nav-btns .nav-btn-link:hover{
   
   background-color: rgba(212, 212, 212, 0.212);
}
.nav-btns span{
   height: 16px;
   width: 16px;
   top: 0px;
   right: -5px;
   color: white;
   font-size: 10px;
   font-weight: 700;
   background: var(--dark);
}
.hero{
   padding: 160px 0px 128px;
   background: linear-gradient(180deg, #F9FAFB 0%, #FFF 100%);
}
.hero .hero-left{
   margin-top: 125px;
   padding: 0px;
}
.new-collection{
   background: linear-gradient(90deg, #FFFBEB 0%, #FFF7ED 100%);
   border: 1px solid rgba(254, 243, 198, 0.50);
   padding: 9px 15px;
   gap: 8px;
   width: fit-content;
}
.new-collection img{
   height: 14px;
}
.new-collection h6{
   margin: 0px;
   white-space: nowrap;
   color: #7B3306;
   font-size: 13px;
   font-weight: 400;
   line-height: 150%;
}
.hero-title{
   color: var(--dark);
   font-size: 68px;
   font-weight: 700;
   line-height: 105%;
   letter-spacing: -2.04px;
   width: 85%;
   margin-bottom: 9px;
   word-wrap: break-word;
}
@media (max-width:1200px){
   .hero-title{
      width: 100%;
   }
}
.hero-pera{
   color: var(--normal);
   font-size: 19px;
   font-weight: 400;
   line-height: 170%;
   width: 572px;
}
.new-collection{
   margin-bottom: 24px;
}
.hero-btn-group{
   margin: 40px 0px;
}
.hero-btn-group a{
   font-size: 14px;
   font-weight: 400;
   line-height: 21px;
   margin-right: 12px;
   padding: 13px 29px;
   border-radius: 12px;
   box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.4);
}
.hero-btn-group .h-btn-1 img{
   padding-left: 3px;
   transition: 0.2s;
}
.hero-btn-group .h-btn-1{
   background-color: var(--dark);
}
.hero-btn-group .h-btn-1:hover{
   box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.3);
}
.hero-btn-group .h-btn-1:hover img{
   transform: translateX(2px);
}
.hero-btn-group .h-btn-2{
   color: var(--dark);
   border: 1px solid rgba(16, 24, 40, 0.1);
   box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.05);
}
.hero-btn-group .h-btn-2:hover{
   border: 1px solid rgba(16, 24, 40, 0.2);
   background-color: rgba(128, 128, 128, 0.04);
}
.hero-feature{
   gap: 32px;
   padding-top: 16px;
}
.hero-feature .h-features p{
   margin: 0px;
   font-size: 14px;
   font-weight: 400;
   line-height: 21px;
   color: var(--normal);
}
.hero-right-container{
   width: fit-content;
}
.hero-right .hero-img{
   height: 832px;
   width: 624px;
   padding: 6px;
   border-radius: 28px;
   background: linear-gradient(135deg, #F3F4F6 0%, #F9FAFB 100%);
   box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.03), 0 24px 48px -12px rgba(0, 0, 0, 0.15);
}
.hero-right .hero-top-1 , .hero-top-2{
   height: 61px;
   width: fit-content;
   border-radius: 16px;
   padding: 12px 16px;
   color: var(--normal);
   background: #FFF;
   box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.03), 0 8px 24px -4px rgba(0, 0, 0, 0.15);
}
.hero-right .hero-top-1 p{
   color: var(--normal);
   font-size: 13px;
   font-weight: 400;
   line-height: 19.5px;
}
.hero-right-container .hero-top-1{
   top: 48px;
   right: -25px;
}
.hero-right-container .hero-top-2{
   bottom: 42px;
   left: -32px;
}
.hero-right-container .hero-top-2{
   padding: 16px;
   height: 102px;
}
.hero-right-container .hero-top-2 img{
   border-radius: 14px;
}
.hero-top-2-text p{
   color: var(--normal);
   font-size: 13px;
   font-weight: 400;
   line-height: 150%;
}
.hero-top-2-text h5{
   color: var(--dark);
   font-size: 15px;
   font-weight: 700;
   line-height: 150%;
}
.featured-container{
   gap: 64px;
}
.featured-head .section-label{
   margin-bottom: 16px;
   font-size: 13px;
   font-weight: 400;
   line-height: 150%;
   padding: 6px 12px;
   width: fit-content;
   color: var(--dark);
   background-color: #F3F4F6;
}
.featured-head .featured-title h1{
   color: var(--dark);
   font-size: 48px;
   font-weight: 700;
   line-height: 110%;
   letter-spacing: -0.96px;;
}
.featured-head .featured-title .featured-btn{
   align-self: flex-end;
   color: var(--nav-link);
   font-size: 14px;
   font-weight: 400;
   line-height: 150%;
   gap: 14px;
}
.featured-card .featured-card-img img{
   border-radius: 20px;
}
